<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="hks.calendar">

	<application
		android:name=".HKSCalendarApp"
		android:allowBackup="true"
		android:icon="@drawable/icon_main"
		android:label="@string/app_name"
		android:roundIcon="@drawable/icon_main"
		android:supportsRtl="true"
		android:theme="@style/HKSDefault">

		<meta-data
			android:name="com.google.firebase.messaging.default_notification_icon"
			android:resource="@drawable/icon_main_notification" />
		<meta-data
			android:name="com.google.firebase.messaging.default_notification_color"
			android:value="#0000FF" />

		<receiver
			android:name=".AlertReceiver"
			android:enabled="true"
			android:exported="false">
		</receiver>

		<activity
			android:name=".ActivityMain"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ActivityEditEvent"
			android:parentActivityName=".ActivityMain"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActivityMain" />
		</activity>

		<activity
			android:name=".ActivityEventTypesList"
			android:screenOrientation="portrait"
			android:parentActivityName=".ActivityMain">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActivityMain" />
		</activity>

		<activity
			android:name=".ActivityEditEventType"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			android:parentActivityName=".ActivityEventTypesList">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActivityEventTypesList" />
		</activity>
	</application>

</manifest>